<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <meta charset="utf-8"/>
	  <title>Dashboard Application </title>
	  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'/>
	  <style type="text/css">
	    body {
	      text-align: center;
	      font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	      color: #222;
	      background: #fff;
	    }
	    img { margin: 30px 0 30px;}
	    a { color: #705AB2; text-decoration: none;}
	    h1 { color: #000; font-size: 48px; margin: 0;}
	    p { color: #000; font-size: 18px; margin: 6px 0 0 0;}
	  </style>
	</head>
	<body>
	  <img src="/images/notfound.png"/>
	  <h1>404 We're sorry!</h1>
	  <p>
	    We couldn't find what you're looking for
	  </p>
	  <p style="margin-top:45px">
	    <a href="/internal/login">&raquo; Go back to the main page</a>
	  </p>
	</body>
</html>